<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="current" value="en-US"/>-->
    <add key="current" value="pt-BR"/>
  </appSettings>
  <connectionStrings>
    <add name="stringdeconexao" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Lucas\Google Drive\DK Solutions\AEPH\Software\Morpheus2\SysBalanca\AutomacaoBalanca.mdf;Integrated Security=True" providerName="SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
</configuration>