<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="current" value="en-US"/>
    <!--<add key="current" value="pt-BR"/>-->
  </appSettings>
  <connectionStrings>
    <!--<add name="stringdeconexao" connectionString="Data Source=DESKTOP-MCI6S8S\SQLSERVER2012;Initial Catalog=AutomacaoBalanca;Persist Security Info=True;Trusted_Connection=True;Min Pool Size=5;Max Pool Size=250; Connect Timeout=30;" providerName="SqlClient"/>-->
    <add name="stringdeconexao" connectionString="Data Source=(LocalDB)\MORPHEUS2;AttachDbFilename=C:\Morpheus2\AutomacaoBalanca.mdf;Integrated Security=True" providerName="SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
</configuration>
